body {
	background-color: #eee;
	display: grid;
	grid-template-columns: 25% 25% 20% 30%;
}

.header {
	grid-column: 1/5;
	position: sticky;
	top: 0;
}


.sideLeftBar, .invitedFriends, .chatBars {
	position: sticky;
  	top: 60px;
}

@media only screen and (max-width: 600px) {
	.sideLeftBar {
		padding-left: 10%;
		padding-right:10%;
	}
}

@media only screen and (max-width: 600px) {
	.chatBars {
		padding-left: 10%;
		padding-right:10%;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		padding-left: 10%;
		padding-right:10%;
	}
}
